babel==2.18.0
backrefs==6.2
beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.1.8
colorama==0.4.6
ghp-import==2.1.0
hjson==3.1.0
idna==3.11
importlib_metadata==8.7.1
Jinja2==3.1.6
lxml==6.0.2
Markdown==3.9
MarkupSafe==3.0.3
mdx_tableau @ git+https://github.com/tableau-tables/python-tableau-parser@db1bcbc8d6a163405bf0b7a89faef83ccd3f54ad
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-asciidoctor-backend==0.1.14
mkdocs-get-deps==0.2.2
mkdocs-macros-plugin==1.5.0
mkdocs-material==9.7.5
mkdocs-material-extensions==1.3.1
packaging==26.0
paginate==0.5.7
pathspec==1.0.4
platformdirs==4.4.0
Pygments==2.19.2
pymdown-extensions==10.21
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyyaml_env_tag==1.1
regex==2026.1.15
requests==2.32.5
six==1.17.0
soupsieve==2.8.3
string-scanner==0.0.1
super_collections==0.6.2
termcolor==3.1.0
typing_extensions==4.15.0
urllib3==2.6.3
watchdog==6.0.0
zipp==3.23.0
