table {
  /* 線を1本にまとめる（重要） */
  border-collapse: collapse;
}

th, td {
  /* 細い実線（例: 1pxの黒色） */
  border: 1px solid #000;
  padding-top: 2px;      /* Vertical padding top */
  padding-bottom: 2px;   /* Vertical padding bottom */
  padding-left: 5px;      /* Horizontal padding left */
  padding-right: 5px;     /* Horizontal padding right */  
}

td > p{
  margin-block-start: 2px;
  margin-block-end: 2px;
}
th > p{
  margin-block-start: 2px;
  margin-block-end: 2px;
}


/* shippori-mincho-b1-latin-400-normal */
@font-face {
  font-family: 'base';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/shippori-mincho-b1@latest/japanese-400-normal.woff2) format('woff2');
  unicode-range: U+3000-30FF, U+3400-4DBF, U+4E00-9FFF, U+FF00-FFEF;
} 

@font-face {
  font-family: 'base';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/wkentaro/CV@main/Fonts/GNUFreeFont/FreeSerif.otf) format('opentype');
}

@font-face {
  font-family: 'base';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/zzdcbowl999/extfonts@main/Arian_Grqi_U.ttf) format('truetype');
  unicode-range: U+0530-058F;
}

body{
    font-family: 'base';
}

p{
  line-height: 1.8em; /* 行の高さを実数値＋単位(em)で指定する */
}

.md-typeset > ::before {
    font-family: "FontAwesome";
    /* font-family: "Font Awesome 5 Free"; */
    margin-right: .3em;
    display:inline-block !important;
}

.md-typeset h1::before {
    content:"\f02d" !important;
}

.md-typeset h2::before {
    content:"\f0a9" !important;
}

.md-typeset h3::before {
    content:"\f061" !important;
}

.md-typeset h4::before {
    content:"\f0da" !important;
}

.md-grid {
  max-width: 61rem; /* デフォルトは 61rem */
}